@import "../../../styles/button.scss";
@import "../../../styles/darkThemeStyles.scss";

.add-contact {
    padding-top: 10px;
    &__footer {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    &__button {
        @include modal-button;
    }
}

:root[data-theme="dark"] {
    .add-contact__button {
        @include modal-button-dark;
    }
}
