.footer {
    position: relative;
    z-index: 1000;
    background: #fff;
    padding: 16px;
    width: 100%;
    max-height: 48px;
    height: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid #f2f2f7;

    &__button {
        outline: none;
        border: none;
        background: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 100%;
        svg {
            fill: #8e8e93;
            transition: fill 0.1s linear;
        }
        &:hover svg {
            fill: #2c2c2e;
        }
        &_telegram:hover svg {
            fill: #007aff;
        }

        &.active svg {
            fill: #2c2c2e;
        }
    }

    &__input {
        width: 100%;
        outline: none;
        border: none;
        font-family: inherit;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        display: flex;
        align-items: center;
        color: #666668;
        white-space: normal;
        word-wrap: break-word;
    }
}

.emoji-picker-react .emoji-scroll-wrapper {
    overflow-y: overlay;
}

.emoji-scroll-wrapper {
    &::-webkit-scrollbar {
        width: 7px;
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #d6dee1;
        border-radius: 7px;
        border: 2px solid transparent;
        background-clip: content-box;
    }
}
