@import "../../styles/darkThemeStyles.scss";

.chat {
    overflow: hidden;
    position: fixed;
    max-width: 800px;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
    background: #ffffff;

    &_blackout {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 10000;
        animation-duration: 0.4s;
        animation-name: blackout;

        &.disable {
            animation: lightening 0.4s;
            background: rgba(0, 0, 0, 0);
        }
    }

    &__content {
        display: flex;
        max-width: 70%;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    @media screen and (max-width: 768px) {
        &__content {
            max-width: 100%;
        }
    }
}

.greeting {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__text {
        padding: 5px 15px;
        font-size: 14px;
        background-color: rgb(242 242 247);
        border-radius: 15px;
    }
}

@keyframes blackout {
    from {
        background: rgba(0, 0, 0, 0);
    }

    to {
        background: rgba(0, 0, 0, 0.5);
    }
}

@keyframes lightening {
    from {
        background: rgba(0, 0, 0, 0.5);
    }

    to {
        background: rgba(0, 0, 0, 0);
    }
}

:root[data-theme="dark"] {
    .chat {
        background: $darkest;
    }
    .greeting {
        background: $dark;

        &__text {
            background-color: $dark-lighter;
            color: #fff;
        }
    }
}
