.chat {
    display: flex;
    max-width: 75%;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.greeting {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__text {
        padding: 5px 15px;
        font-size: 14px;
        background-color: rgb(242 242 247);
        border-radius: 15px;
    }
}
