@import "../../../styles/button.scss";
@import "../../../styles/darkThemeStyles.scss";
.user-setting {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    &__footer {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    &__button {
        @include modal-button;
    }

    &__photo {
        position: relative;
        display: block;
        margin: 0 auto;
        margin-bottom: 25px;
        margin-top: 10px;
        border-radius: 50%;

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 30px;
            height: 30px;
            color: #fff;
            opacity: 0;
        }
        &:hover {
            background-color: black;
            img {
                opacity: 0.8;
            }
            svg {
                opacity: 0.9;
            }
        }

        input {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
            border-radius: 50%;
        }
    }
}

:root[data-theme="dark"] {
    .user-setting__button {
        @include modal-button-dark;
    }
}
