.app {
    position: fixed;
    max-width: 800px;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    box-shadow: inset 1px 0px 0px #e5e5ea;
}
