button {
    outline: none !important;
    border: none;
    background: transparent;
}

.button {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;

    &:hover {
        .button__gradient {
            left: 0;
        }
    }

    &__gradient {
        position: absolute;
        z-index: -1;
        width: 300%;
        height: 100%;
        background: #a64bf4;
        background: -webkit-linear-gradient(
            right,
            #21d4fd,
            #b721ff,
            #21d4fd,
            #b721ff
        );
        top: 0;
        left: -100%;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }

    &__own {
        &:hover {
            cursor: pointer;
        }
        font-weight: 500;
        font-size: 15px;
        color: #fff;
        line-height: 1.2;
        text-transform: uppercase;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        width: 100%;
        height: 50px;
    }
}
