.footer {  
  padding: 16px;
  width: 100%;
  max-height: 48px;
  height: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid #f2f2f7;

  &__button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #2c2c2e;
  
    width: 40px;
    height: 100%;
  }
  
  &__button svg {
    fill: #2c2c2e;
  }
  
  &__button_telegram svg {
    fill: #8e8e93;
    transition: fill 0.1s linear;
  }
  
  &__button_telegram:hover svg {
    fill: #007aff;
  }
  
  &__input {
    width: 100%;
    outline: none;
    border: none;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #666668;
  }
}
