.user {
  display: flex;
  justify-content: space-between;
  padding: 17px 16px 15px;

  border-bottom: 1px solid #f2f2f7;

  &__photo {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
  
  &__data {
    text-align: center;
  }
  
  &__name {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #2c2c2e;
  }
  
  &__last-seen {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  
    color: #666668;
    margin-top: 4px;
  }
  
  &__setting-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    transition: all 0.1s linear;
  }
  
  &__setting-button svg {
    fill: #666668;
    transition: all 0.1s linear;
  }
  
  &__setting-button:hover svg {
    fill: #000;
  }
}
