.auth {
    font-family: "Poppins", sans-serif;
    &__wrapper {
        width: 390px;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        padding: 77px 55px;
        box-shadow: 0 5px 10px 0px rgb(0 0 0 / 10%);
        -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 5px 10px 0px rgb(0 0 0 / 10%);
        -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
        -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    }

    input {
        font-family: inherit;
    }
}

.container {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #f2f2f2;
    position: fixed;
}

.form {
    width: 100%;

    &__title {
        display: block;
        font-weight: 700;
        font-size: 30px;
        color: #333333;
        line-height: 1.2;
        text-align: center;
        padding-bottom: 26px;

        &_icon {
            padding-bottom: 48px;
        }
    }

    &__icon {
        width: 60px;
        height: 60px;
    }
}

.button-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13px;
}
